{{>header}}
<!-- Header // -->
<div class="container-fluid d-flex align-items-center page-name background-black mb-5">
    <div class="container text-white">
        <h1>Contato</h1>
    </div>
</div>

<!-- Content // -->
<div class="container page-contact">
    <div class="row">
        <div class="col-12 page-description">

            <h5>
                Nosso suporte e atendimento funcionam diariamente entre às 8h e 15h,<br>
                (horário de Assunção - exceto fins de semana e feriados).

            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12 my-5">
            <form class="form-contact needs-validation" novalidate>
                <div class="form-group">
                    <input type="text" class="form-control contactFullName" id="contactFullName"
                        aria-describedby="fullnameHelp" placeholder="{{partials.fullName}}" required>
                    {{>validate}}
                </div>
                <div class="form-group">
                    <input type="email" class="form-control contactMail" id="contactMail" aria-describedby="emailHelp"
                        placeholder="{{partials.mail}}" required>
                    {{>validate}}
                </div>
                <div class="form-group">
                    <input type="text" class="form-control contactSubject" id="contactSubject"
                        placeholder="{{partials.subject}}" required>
                    {{>validate}}
                </div>
                <div class="form-group">
                    <textarea class="form-control contactMessage" id="contactMessage" rows="3"
                        placeholder="{{partials.message}}" required></textarea>
                    {{>validate}}
                </div>
                <button type="submit" class="btn btn-primary">{{partials.sendMessage}}</button>
            </form>
        </div>
    </div>
</div>
<!-- Content // -->
{{>footer}}