<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    {{>sidebar}}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column wrapper-profile">
        <div class="profile-background"></div>

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->

                <!-- Topbar Navbar -->
                {{>navbar}}

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid mb-5">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card mb-4">
                            <div class="card-header">Altere informações das páginas</div>
                            <div class="card-body">
                                <form class="updatePageForm">
                                    <div class="form-group">
                                        <label for="pageTitle">Titulo da página</label>
                                        <input type="text" class="form-control pageTitle" id="pageTitle"
                                            placeholder="Informe o titulo da página" value="{{info.title}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="pageSlug">Slug da página</label>
                                        <input type="text" class="form-control pageSlug" id="pageSlug"
                                            placeholder="Informe o titulo da página" value="{{info.slug}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="pageContent">Conteúdo da página</label>
                                        <textarea class="form-control pageContent" id="pageContent" rows="6"
                                            placeholder="Informe o conteúdo da sua página">{{info.content}}</textarea>
                                    </div>

                                    <button type="submit" class="btn btn-primary btnEditPage"
                                        data-id="{{info.id}}">Salvar</button>
                                </form>
                                <!-- Formulario new Page // -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-header">Banners da página</div>
                            <div class="card-body">
                                <form class="formBanner">
                                    <div class="form-group">
                                        <label for="bannerTitle">Titulo do banner</label>
                                        <input type="text" class="form-control bannerTitle" id="bannerTitle"
                                            placeholder="Informe o titulo da página" value="{{info.banner.title}}">
                                    </div>

                                    <div class="form-group">
                                        <label for="bannerPosition">Posição do banner</label>
                                        <select class="form-control bannerPosition" id="bannerPosition">
                                            <option value="top"
                                                {{#ifCond info.banner.position 'top'}}selected{{/ifCond}}>Topo</option>
                                            <option value="middle"
                                                {{#ifCond info.banner.position 'middle'}}selected{{/ifCond}}>Meio
                                            </option>
                                            <option value="bottom"
                                                {{#ifCond info.banner.position 'bottom'}}selected{{/ifCond}}>Bottom
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="bannerDescription">Descrição do banner</label>
                                        <textarea class="form-control bannerDescription" id="bannerDescription" rows="3"
                                            placeholder="Informe uma descrição para seu banner">{{info.banner.description}}</textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="bannerImage">Imagem do banner</label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input bannerImage" id="bannerImage">
                                            <label class="custom-file-label" for="bannerImage">Choose file</label>
                                        </div>
                                    </div>
                                </form>
                                <!-- Formulario new Page // -->
                                <hr>
                                <div class="row bannersContainer">
                                    <div class="my-2 col-12">
                                        <img class="img-thumbnail" src="{{info.banner.image.url}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Logout Modal-->
{{>logoutModal}}