<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    {{>sidebar}}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                            aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                {{>navbar}}

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-1 text-gray-800">Listagem de produtos</h1>
                <p class="mb-4">Nesta página você lista todos os produtos disponíveis em seu sistema podendo exclui-los
                    ou alterar alguma informação sobre o mesmo</p>

                <!-- Content Row -->
                <div class="row productList">

                    <!-- Lista de categorias -->
                    {{#each products}}
                    <!-- Product -->
                    <div class="col-12">

                        <!-- Custom Text Color Utilities -->
                        <div class="card shadow mb-1">
                            <div class="card-body p-0">
                                <div class="row">

                                    <div class="col-auto">
                                        {{#each image}}
                                        <figure class="figure m-0">
                                            <img src="{{url}}" class="figure-img img-fluid m-0" width="100px" alt="...">
                                        </figure>
                                        {{else}}
                                        <figure class="figure m-0">
                                            <img src="https://via.placeholder.com/100" class="figure-img img-fluid m-0"
                                                width="100px" alt="...">
                                        </figure>
                                        {{/each}}

                                    </div>
                                    <div class="col-7 d-flex flex-column justify-content-center">
                                        <div class="row">
                                            <h5 class="px-4 ">{{name}}</h5>
                                        </div>
                                        <div class="row">
                                            <small class="text-gray-700 px-4 m-0">{{description}}</small>
                                        </div>
                                    </div>

                                    <div class="col d-flex flex-column justify-content-center">
                                        <h5
                                            class="productStats {{#ifCond availability "available"}}text-success{{else}}text-danger{{/ifCond}}">
                                            {{availability}}
                                        </h5>
                                    </div>

                                    <div
                                        class="col d-flex flex-column align-items-end justify-content-center productOptions">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                                id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <i class="fas fa-bars"></i>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                <button class="dropdown-item" data-product="{{id}}"
                                                    type="button">Visualizar</button>
                                                <button class="dropdown-item" data-product="{{id}}"
                                                    type="button">Editar</button>
                                                <button class="dropdown-item delete productDelete" data-product="{{id}}"
                                                    type="button">Excluir</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{else}}

                    {{/each}}

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
{{>logoutModal}}