<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista de códigos cadastrados</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover stripe" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Code</th>
                        <th>Data</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Code</th>
                        <th>Data</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody class="listCaregories">
                    {{#each codes}}
                    <tr role="row" class="odd">
                        <td>{{id}}</td>
                        <td>{{code}}</td>
                        <td>{{createdAt}}</td>
                        <td>
                            <button type="button"
                                class="btn btn-datatable btn-icon btn-transparent-dark codeDelete py-0"
                                data-id="{{id}}">
                                <i class="fas fa-check"></i>
                            </button>
                        </td>
                    </tr>
                    {{else}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>