<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Solicitações de contato</h1>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista de solicitações de contato</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover stripe" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Assunto</th>
                        <th>Data</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Assunto</th>
                        <th>Data</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody class="listCaregories">
                    {{#each contacts}}
                    <tr role="row" class="odd">
                        <td>{{id}}</td>
                        <td class="sorting_1">{{fullname}}</td>
                        <td>{{email}}</td>
                        <td>{{subject}}</td>
                        <td>{{createdAt}}</td>
                        <td>{{status}}</td>
                        <td>
                            <button type="button"
                                class="btn btn-datatable btn-icon btn-transparent-dark contactChange py-0"
                                data-id="{{id}}">
                                <i class="fas fa-check"></i>
                            </button>
                        </td>
                    </tr>
                    {{else}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>